.cta {
	padding: 80px 0;
	position: relative;

	&__background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}
	&__body {
		font-size: 20px;
		margin-bottom: 30px;

		p {
			font-size: 20px;
		}
	}
	&__title {
		margin-bottom: 30px;
	}
	.container {
		position: relative;
		z-index: 3;
	}

}