.cta {
  padding: 80px 0;
  position: relative;
}
.cta__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cta__background img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.cta__body {
  font-size: 20px;
  margin-bottom: 30px;
}
.cta__body p {
  font-size: 20px;
}
.cta__title {
  margin-bottom: 30px;
}
.cta .container {
  position: relative;
  z-index: 3;
}
