{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cta') }}>
    {% if block_content.field_background.entity.field_media_image.entity.id %}
		<div class="cta__background">
			{{ drupal_image(block_content.field_background.entity.field_media_image.entity.id, 'banner') }}
		</div>
	{% endif %}
	<div class="container">
		<div class="cta__content">
			<h2 class="cta__title">{{ content.field_title.0 }}</h2>
			<div class="cta__body">
				{{ content.field_body }}
			</div>
			<div class="cta__link">
				{{ content.field_link }}
			</div>
		</div>
	</div>
</div>